
.toolkit-results-list {
    margin:0;
    padding:0;
}

.resource-item {
  border-bottom: 1px solid var(--gray-200);
  padding: 0.25rem 0;
  list-style-type: none;
}

.resource-card {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.media-type {
  font-size: var(--font-size-small);
  font-weight: var(--font-semibold);
  color: var(--teal);
  text-transform: uppercase;
  letter-spacing: .05rem;
}
.key {
  color: var(--gray-500);
  font-size: var(--font-size-small);
  margin-right: .5rem;
}
.title {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}
.link {
  font-family: var(--font-display);
  font-weight: var(--font-regular);
  font-style: regular;
  font-size: 2rem;
  color: var(--gray-600);
  text-decoration: none;
  transition: var(--transition-all-regular);
}
.link:hover {
  color: var(--teal);
}
.meta {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 0.25rem;
}
.icon {
  height: 1rem;
  fill: var(--teal);
  margin-right: .5rem;
}
.category {
  margin-right: 1rem;
}
.tags {
  font-size: 1rem;
}
