.uxtk {
    &-template {
        display: flex;
        flex-direction: column;
        background-color: var(--back-tint);
        padding: 1rem 2.5rem 2.5rem 2.5rem;
    }
    &-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .title {
            font-family: var(--font-display);
            font-weight: var(--font-light);
            font-size: var(--font-size-display);
            line-height: 1;
            margin: 0;
        }
    }
    &-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    &-categories {
        margin-top: 2rem;
        margin-bottom: 2rem;

        .item {
            display: inline-block;
            margin-right: .5rem;
            margin-bottom: .5rem;
        }
    }
    &-categories-block {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: .5rem;
        align-items: center;

        .icon {
            fill: var(--icon-fill);
        }
    }
    &-results {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    &-sidebar {
        display: flex;
        flex-direction: column;
        width: 30%;

        .tag {
            display: inline-block;
        }
    }
}

.resource-count {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: var(--font-size-small);
    color: var(--gray-500);
    margin-top: .25rem;
    white-space: pre;
}

.button-category {
    font-size: var(--font-size-text);
    line-height: 1;
    height: 2rem;
    padding: 0 1rem;
    border-style: none;
    border-radius: .4rem;
    background-color: var(--tint-categories);
    transition: var(--transition-all);

    &:hover {
        cursor: pointer;
        background-color: var(--light-aquamarine);
    }
    .count {
        font-size: var(--font-size-small);
    }
}
.button-tags {
    font-size: var(--font-size-text);
    line-height: 1;
    height: auto;
    padding: .25rem;
    margin: 0 .25rem .25rem 0;  
    border-style: none;
    border-radius: .25rem;  
    // background-color: var(--tint-tags);
    background-color: transparent;
    transition: var(--transition-all);

    &:hover {
        cursor: pointer;
        background-color: var(--light-aquamarine);
    }
    .count {
        font-size: .75rem;
    }
}