.search-results {
    display: flex;
    flex-direction: column;
}

// https://codepen.io/miladxdev/pen/RwLbBxY
// skeleton loader

.resource-card {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    &__content {
        display:flex;
        flex-direction: column;
    }
    &__link {
        font-family: var(--font-display);
        font-weight: var(--font-regular);
        font-style: regular;
        font-size: 1.5rem;
        color: var(--gray-700);
        text-decoration: none;
        transition: var(--transition-all);
    }
    &__link:hover {
        color: var(--teal);
    }
}