:root {
  --blue: #0d6efd;
  --teal: #38b9ad;
  --turq: #20c997;
  --green: #B5F100;
  --cyan: #0dcaf0;
  --light-aquamarine: #83eae3;
  --pale-cyan: #92e2dc;
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --primary-rgb: 13, 110, 253;
  --secondary-rgb: 108, 117, 125;
  --success-rgb: 25, 135, 84;
  --info-rgb: 13, 202, 240;
  --warning-rgb: 255, 193, 7;
  --danger-rgb: 220, 53, 69;
  --light-rgb: 248, 249, 250;
  --dark-rgb: 33, 37, 41;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --gray-dark: #343a40;
  --back-tint: #f9f9f3;
  --tint-categories: #9ceeff;
  --tint-tags: #d6ffda;
  --font-display: 'Caprasimo', serif;
  --font-serif: 'Libre Baskerville', serif;
  --font-sans: 'Libre Franklin', sans-serif;
  --font-size-display: 4rem;
  --font-size-xlarge: 3rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-text: 1rem;
  --font-size-small: .75rem;
  --font-size-xsmall: .6rem;
  --font-size-vsmall: .5rem;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-system-sans: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --body-font-family: var(--font-sans);
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: #212529;
  --border-radius: 0.375rem;
  --border-radius-sm: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 1rem;
  --border-radius-2xl: 2rem;
  --border-radius-pill: 50rem;
  --link-color: #0d6efd;
  --link-hover-color: #0a58ca;
  --highlight-bg: #fff3cd;
  --transition-all: .2s all ease-out;
}

/*
  --font-display:
      'Caprasimo', cursive;
      'Patua One', cursive;

  --font-serif:

  --font-sans:
      'Libre Franklin', sans-serif;
      'Signika Negative', sans-serif;
      'Libre Baskerville', serif;
*/