:root {
/* CORE */
/* Color palette */
  --blue: #0d6efd;
  --teal: #38b9ad;
  --turq: #20c997;
  --green: #B5F100;
  --cyan: #0dcaf0;
  --light-aquamarine: #83eae3;
  --pale-cyan: #92e2dc;
  --primary: var(--blue);
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --gray-dark: #343a40;
/* Tints */
  --tint-warm-100: #f9f9f3;
  --tint-warm-200: #efeee9; 
  /* Typography */
  --font-display: 'Caprasimo', serif;
  --font-display-patua: 'Patua One', serif;
  --font-serif: 'Libre Baskerville', serif;
  --font-sans: 'Libre Franklin', sans-serif;
  --font-sans-signika: 'Signika Negative', sans-serif;
  --font-monospace: SFMono-Regular, monospace;
  --font-size-display: 4rem;
  --font-size-xlarge: 3rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-text: 1rem;
  --font-size-small: .875rem;
  --font-size-xsmall: .6rem;
  --font-size-vsmall: .5rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --lineheight-regular: 130%;
/* SEMANTIC */
  --body-font-family: var(--font-sans);
  --body-font-size: var(--font-size-text);
  --body-font-weight: var(--font-weight-regular);
  --body-line-height: var(--lineheight-regular);
  --body-color: var(--gray-900);
  --border-radius: 0.375rem;
  --border-radius-sm: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 1rem;
  --border-radius-2xl: 2rem;
  --border-radius-pill: 50rem;
  --border-line-color: var(--gray-200);
  --link-color: #0d6efd;
  --link-hover-color: #0a58ca;
  --highlight-bg: #fff3cd;
  --transition-hover-color: .2s color ease-out;
  --transition-all-regular: .3s all ease-out;
  --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  /* COMPONENT */
  --surface-main: var(--tint-warm-100);
  --surface-sidebar: var(--tint-warm-100);
  --icon-fill: var(--teal);
  --categories-btn-back: var(--gray-200);
  --tags-btn-back: var(--gray-200);
}
@media (width <= 960px) {
  :root {
    --font-size-display: 3rem;
    --font-size-xlarge: 2.5rem;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.25rem;
  }
}
